C:\Users\lan\Documents\repos\inter\code\borrowed\suite2p\
C:\Users\lan\Documents\repos\inter\code\py_playground\plane0
C:\Users\lan\Documents\repos\inter\code\py_playground\suite2p
C:\Users\lan\Documents\repos\inter\archive\mat_20201117
**repos\inter\code\mwork\cut\
C:\Users\lan\Documents\repos\inter\code\mwork\cut\**
/code/mwork/cut/
debug.log
f_neuron.mat
npSub_tc_fake.mat
tc_align_ad.mat
trace_avg.mat
fake_movie.mat
C:\Users\lan\Documents\repos\inter\mat\V1_i1339_210922_caiman\trace_aligned.mat 