C:\Users\lan\Documents\repos\inter\code\borrowed\suite2p\
C:\Users\lan\Documents\repos\inter\code\py_playground\plane0
C:\Users\lan\Documents\repos\inter\code\py_playground\suite2p
debug.log
f_neuron.mat
npSub_tc_fake.mat
tc_align_ad.mat
trace_avg.mat
fake_movie.mat